.genreList
  display: flex
  flex-direction: row
  gap: 5px

.movieCard
  border: 1px solid blue
  border-radius: 10px
  min-height: 30px
  text-align: center

  &:hover
    background: cyan
    cursor: pointer
  