.page
  display: flex
  flex-direction: column
  align-items: center

  &__title
    @include media-mobile
      font-size: 22px      

  &__header
    font-size: 20px
    margin: 10px 0
    color: $primary

  &__form
    display: flex
    align-items: center

  &__search-bar
    border-top-left-radius: 6px
    border-bottom-left-radius: 6px
    padding: 5px

    &:focus
      outline: none;
      background: $secondary

  &__search-btn
    border-top-right-radius: 6px
    border-bottom-right-radius: 6px
    padding: 5px