.movieList
  width: 80%
  padding: 10px
  display: grid
  justify-self: center
  gap:5px

  &__header
    border: 2px solid gray
    font-weight: bold
    width: 100%
    grid-template-columns: 4fr 1fr 4fr 2fr
    @include flex-center
    @include radius("lg")

    @include media-mobile(600px)
      display: none

  &__placeholder
    width: 100% !important
    height: 470px
    @include media-mobile(600px)
      height: 1400px
  
  

