.movieList
  width: 80%
  padding: 10px
  display: grid
  justify-self: center
  gap:5px

  &__header
    border: 2px solid gray
    border-radius: 10px
    font-weight: bold

  &__placeholder
    width: 100% !important
    height: 316px
    
//Grid-row
.movieList > header, 
.movieList >section
  display: grid
  grid-template-columns: 4fr 1fr 4fr 1fr
  width: 100%
  justify-items: center
  align-items: center
